.icon{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #000;
    cursor: pointer;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
}

.icon_star{
    mask-image: url(./icon/Star.svg);
    -webkit-mask-image: url(./icon/Star.svg);
}

.icon_star_2{
    mask-image: url(./icon/star_2.svg);
    -webkit-mask-image: url(./icon/star_2.svg);
    background-color: #E5E5E5;
}

.icon_in{
    mask-image: url(./icon/linkedin.svg);
    -webkit-mask-image: url(./icon/linkedin.svg);
    width: 40px;
    height: 40px;
}

.icon_insta{
    mask-image: url(./icon/insta.svg);
    -webkit-mask-image: url(./icon/insta.svg);
    width: 40px;
    height: 40px;
}

.icon_ball{
    mask-image: url(./icon/ball.svg);
    -webkit-mask-image: url(./icon/ball.svg);
    width: 40px;
    height: 40px;
}